# Токен бота от @BotFather
BOT_TOKEN=8246923680:AAGKcVwu0xz0qEi-AqEqdm8EUJqNU2_h6oA

# ID канала для статистики (опционально)
# Канал должен быть публичным, формат: @channel_name или -1001234567890
CHANNEL_ID=-1003360198094

# Файл базы данных (по умолчанию tycoon_complete.db)
DB_FILE=tycoon_complete.db