# Пример файла с переменными окружения
# Скопируйте этот файл в .env и заполните своими данными

BOT_TOKEN=8246923680:AAGKcVwu0xz0qEi-AqEqdm8EUJqNU2_h6oA
CHANNEL_ID=-1003360198094    # опционально